<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yandex.speechkit.commonui">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning" />
</manifest>
